<!DOCTYPE html>
<html>
  <head>
    <title>Credit Card Validation</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Credit Card Validation</h1>
    
    <form action = "/formValidate" method = "post">
    	 Credit card number : &nbsp;&nbsp; <input type = "text" name = "creditCardNumber" id = "creditCardNumber" required>
    	 <br> <br>
    	 Expiration date : &nbsp;&nbsp; <input type = "date" name = "expirationDate" id = "expirationDate" required>
    	 <br> <br>
    	 CVV number : &nbsp;&nbsp; <input type = "text" name = "cvvNumber" id = "cvvNumber" style="width:50px;" required>
    	 <br> <br>
    	 <input type = "submit" id = "submit">
    </form>
    
  </body> 
</html>