<!DOCTYPE html>
<html>
  <head>
    <title>Validation Failed</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Your Credit Card Validation Failed!</h1>
  </body>
</html>